// src/sass/variables.scss

// Globals
$body-font-family: 'Roboto', 'Noto Sans KR', serif;
$textarea-line-height: 130%;
$data-table-regular-header-font-size: 0.8rem;
$data-table-regular-row-font-size: 1rem;
$text-field-outlined-fieldset-border: 1px solid currentColor;