@font-face {
  font-family: 'Spoqa Han Sans Neo Coding';
  font-weight: 400;
  src: local('SpoqaHanSansNeoCoding-Regular'),
  url('../assets/fonts/SpoqaHanSansNeoCoding-Regular-3.5.woff2') format('woff2'),
  url('../assets/fonts/SpoqaHanSansNeoCoding-Regular-3.5.woff') format('woff'),
  url('../assets/fonts/SpoqaHanSansNeoCoding-Regular-3.5.ttf') format('truetype');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo Coding';
  font-weight: 700;
  src: local('SpoqaHanSansNeoCoding-Bold'),
  url('../assets/fonts/SpoqaHanSansNeoCoding-Bold-3.5.woff2') format('woff2'),
  url('../assets/fonts/SpoqaHanSansNeoCoding-Bold-3.5.woff') format('woff'),
  url('../assets/fonts/SpoqaHanSansNeoCoding-Bold-3.5.ttf') format('truetype');
}
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.j-rotation {
  -webkit-animation: rotation 20s infinite linear;
}
.j-rotate-90 {
  transform: rotate(90deg);
}
.j-rotate-180 {
  transform: rotate(180deg);
}
.j-rotate-270 {
  transform: rotate(270deg);
}


@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes grow {
  50% {
    transform: scale(1.8);
  }
}

button.v-pagination__item,
button.v-pagination__navigation{
  box-shadow: none;
  /*font-style: italic;*/
}
button.v-pagination__item--active {
  font-weight: bold;
}

.v-navigation-drawer__content::-webkit-scrollbar {
  width: 8px;
}
.v-navigation-drawer__content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  background-clip: padding-box;
  border: 3px solid transparent;
}
.v-navigation-drawer__content::-webkit-scrollbar-track {
  background-color: transparent;
}
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.j-border-0 {
  border: none;
}
.filepond--credits {
  display:none;
}
.filepond--drop-label.filepond--drop-label label {
  font-size: 0.8rem;
  font-weight: bold;
}
.v-text-field--outlined:not(.v-input--has-state):not(.v-input--is-focused) > .v-input__control > .v-input__slot > fieldset {
  border: 1px solid rgba(0,0,0,0.20);
  transition: all 0.3s;
}
.v-text-field--outlined:hover:not(.v-input--has-state):not(.v-input--is-focused) > .v-input__control > .v-input__slot > fieldset {
  border: 1px solid rgba(0,0,0,0.70);
  transition: all 0.3s;
}